.card-container {
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin : 2rem;
    border-radius: 0.5rem;
    /* cursor: pointer; */
    /* transition: tranform 200ms ease-in; */
    width: 350px;
    border: 0.15rem solid #054f61;
}

/* .card-container:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 15px 0px;
} */

.card-title {
    margin: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

.card-text {
    text-align: center;
    margin: 1rem;
    border: 0.15rem solid #054f61;
    border-radius: 0.5rem;
    padding: 1vw 1vw 1vw 1vw;
}

